$font_color:#432;
$font_color-hover:#0bd;
$wra-max_width:1100px;
$wra-padding_side:4%;
$botton_background:#0bd;
$botton_color:#fff;
$botton_background-hover:#0090aa;
$footer_background:#432;
$footer_color:#fff;